.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.icona {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 236, 236);
    border-radius: 50%;
    margin-right: 5px;
}

.icona i {
    color: grey;
}

button.d-flex {
    border: none;
    background: none;
}

.btn-light:first-of-type {
    background-color: rgb(95, 200, 155);
    border: none;
    color: white;
}

.btn-light:first-of-type:hover {
    background-color: rgb(76, 161, 124);
    border: none;
}

.btn-light:first-of-type:active {
    color: white;
    background-color: rgb(63, 135, 104);
}

.bg-viola {
    background-color: rgb(111, 82, 245);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-grey {
    color: rgb(176, 159, 289);
}

.info2 {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.icona2 i {
    font-size: 14px;
}

.icona2 {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 237, 219) ;
    border-radius: 50%;
    margin-right: 5px;
    color: rgb(190, 145, 84) ;
}

.titolo {
    font-size: 14px;
    font-weight: 500;
}

.descrizione {
    font-size: 14px;
    color: grey ;
    font-weight: 100;
}

#jumbohero {
    max-width: 1140px;
}

/* per mettere un "margine" su tutto, bisogna inserire tutto all'intenro di un div con il tag container. Per rendere lo sfondo uniforme, bisogna fare un div "sfondo" con all'interno il div container dove inserirò il tutto */

